@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
.title {
	/*padding-top:15%;*/
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-weight:600;
	/*font-size:60px;*/
	font-size:6em;
	padding-top:4%;
	margin-bottom: 1%;
}

.title:before {
	/*padding-top:15%;*/
	content: 'Botho';
	color:white;
}

.title:after {
	/*padding-top:15%;*/
	content: 'Hacks';
	color: #fdbf14;
}

.title-desc {
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-size:2em;
}

.animated {
	background-color: #86162c;
	/*yellow is fdbf14*/
	padding-bottom:100px;
	padding-left:inherit;
	padding-right:inherit;
	padding-top:inherit;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.buttonsContainer {
	text-align: center;
	padding-left: 10%;
	width: 80%;
}

.buttonBox {
	padding-left: 2%;
	padding-right: 2%;
    text-align:center;
    display: inline-block;
    padding-bottom: 5%;
}

.button {
  margin: 0 auto;
  display: inline-block;
  padding: 1em 2em;
  font-size: 2em;
  font-family:Zilla Slab;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #86162c;
  background-color: #fff;
  border: none;
  border-radius: 3em;
}

.button:hover {background-color: #eee}

.button:active {
  background-color: #fdbf14;
}

.restOfPage {
	height: 20em;
}

.firstSubtitle {
	/*padding-top:15%;*/
	text-align:left;
	font-family:Zilla Slab;
	color:white;
	font-weight:600;
	/*font-size:60px;*/
	font-size:6em;
	padding-top:10%;
	padding-left: 2%;
	margin-bottom: 1%;
}

.firstSubtitle:before {
	/*padding-top:15%;*/
	content: 'what\'s a ';
	color:white;
}

.firstSubtitle:after {
	/*padding-top:15%;*/
	content: 'hackathon?';
	color: #fdbf14;
}

.desc {
	padding-left: 2%;
	text-align:left;
	font-family:Zilla Slab;
	color:white;
	font-size:2em;	
}

.secondSubtitle {
	/*padding-top:15%;*/
	text-align:left;
	font-family:Zilla Slab;
	color:white;
	font-weight:600;
	/*font-size:60px;*/
	font-size:6em;
	padding-top:10%;
	padding-left: 2%;
	margin-bottom: 1%;
}

.secondSubtitle:before {
	/*padding-top:15%;*/
	content: 'Example';
	color:white;
}

.secondSubtitle:after {
	/*padding-top:15%;*/
	content: ' Projects';
	color: #fdbf14;
}

ul{
	padding-left: 10%;

}

li {
	text-align:left;
	font-family:Zilla Slab;
	color:white;
	font-size:2em;	
}