@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
.title {
	/*padding-top:15%;*/
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-weight:600;
	/*font-size:60px;*/
	font-size:6em;
	padding-top:3.5%
}

.title:before {
	/*padding-top:15%;*/
	content: 'Botho';
	color:white;
}

.title:after {
	/*padding-top:15%;*/
	content: 'Hacks';
	color: #fdbf14;
}

.title-desc {
	text-align:center;
	font-family:Zilla Slab;
	color:white;
	font-size:2em;
}

.animated {
	background-color: #86162c;
	/*yellow is fdbf14*/
	padding-bottom:100px;
	padding-left:inherit;
	padding-right:inherit;
	padding-top:inherit;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}